.secret-santa-page {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .cta-button {
    padding: 15px 30px;
    font-size: 1.2rem;
    color: white;
    background-color: #ff6363;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .cta-button:hover {
    background-color: #e53e3e;
  }
  
  /* Loading Animation */
  .loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    color: black;
    z-index: 10;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Arial', sans-serif;
  }
  
  .loading p{
    background: rgb(255, 239, 175);
    padding: 20px;
    height: 30vh;
    width: 20vw;
    text-align: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .spinner {
    margin-top: 20px;
    /* margin-left: 12rem; */
    width: 50px;
    height: 50px;
    border: 6px solid rgba(255, 255, 255, 0.3);
    border-top: 6px solid #ffffff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* Popup */
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }
  
  .popup-content {
    background: white;
    padding: 20px 40px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .popup-content h2 {
    margin-bottom: 10px;
  }
  
  .popup-content p {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .close-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #ff6363;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .close-button:hover {
    background-color: #e53e3e;
  }
  